body {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(225,240,250,1) 27%, rgba(206,231,247,1) 44%, rgba(185,220,243,1) 63%, rgba(167,211,240,1) 85%, rgba(144,200,236,1) 100%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#app h1 {
  text-align: center;
  text-shadow: 3px 3px 4px rgb(96, 96, 238);
  font-size: 40px;
  letter-spacing: 4px;
}

.flex {
      display: flex;
}

/* shop-div */

.shop {
  margin-left: 50px;
}

.shop ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.shop img {
  width: 200px;
  border-top: 0.2px solid silver;
  border-bottom: 0.2px solid silver;
  border-radius: 10px;
}

li {
    list-style:none;
    margin: 3vh 6vw 3vh 0;
    width: 200px;
    word-break: break-all;
}

.product {
    background-color: white;
    text-align: center;
    border: 1px solid blanchedalmond;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgb(255, 247, 234);
    padding: 5px;
}

.product #title {
    font-weight: 800;
}

hr {
  border: none;
  background-color: #a4a4a4;
  width: 95vw;
  height: 0.33px;
  margin-top: 20px;
}


/* cart-div, table */

.cart {
    text-align: center;
    margin-bottom: 20px;
}

.cart img {
  width: 100px;
}

table {
    margin: 0 auto;
    border: 0.5px solid grey;
    border-collapse: collapse;
    background-color: white;}

td {
    width: 200px;
    text-align: center;
    border: 0.5px solid grey;
    font-weight: 200;
}

th {
    border: 0.5px solid grey;
}

.fa-plus-circle {
    color: #42b983;
    margin-right: 10px;
}

.fa-minus-circle {
    color: #e53935;
    margin-left: 10px;
}

.empty-cart {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  width: 40vw;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid silver;
  border-radius: 10px;
  box-shadow: 2px 2px 4px silver;
  background-color: aliceblue;
  padding: 5px 0 5px 0;
}

.cart h2 {
  font-size: 40px;
  letter-spacing: 2px;
  text-shadow: 3px 3px 4px rgb(96, 96, 238);
}


/* adaptive for mobile */

@media(max-width: 802px) {
  .fa-plus-circle {
    margin-right: 0;
  }
  .fa-minus-circle {
    margin-left: 0;
  }
  .shop {
    margin-left: 0;
    margin-right: 0;
  }
  li {
    margin: 1vh 1vw 1vh 1vw;
  }
}

@media(max-width: 610px) {
  .flex {
    flex-direction: column;
  }
}

@media(max-width: 405px) {
  table{
    font-size: 14px;
  }
  .cart img {
    width: 50px
  }
}